.mw-100 {
    max-width: 100%;
}

.mw-1200 {
    max-width: 1200px;
}

.mh-100v {
    min-height: 100vh;
}

.mih-200 {
  min-height: 200px;
}

.w-100 {
  width: 100px;
}

.h-100p {
  height: 100%;
}

.h-300 {
    height: 300px;
}

.h-400 {
    height: 400px;
}

.h-500 {
  height: 500px;
}

.ov-h {
    overflow: hidden;
}

.fz12 {
    font-size: 12px;
}

.btn {
    text-decoration: none;
    cursor: pointer;
    padding: .5em;
    transition: opacity .3s;
    &:hover {
        opacity: 0.7;
    }
}

.m0{
  margin: 0;
}

.p0 {
  padding: 0;
}

.ttu {
  text-transform: uppercase;
}

.fz-120p {
  font-size: 120%;
}

.fz-140p {
  font-size: 140%;
}

.fz-160p {
  font-size: 160%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-aic {
  align-items: center;
}

.flex-aib {
  align-items: baseline;
}

.flex-asc {
  align-self: center;
}

.flex-jcc {
    justify-content: center;
}

.flex-jcfs {
  justify-content: flex-start;
}

.flex-jcfe {
  justify-content: flex-end;
}

.flex-jcsa {
    justify-content: space-around;
}

.flex-jcsb {
    justify-content: space-between;
}

.d-center {
    margin: 0 auto;
}

.inline-block {
  display: inline-block !important;
}

.d-table {
  display: table;
}

.vat {
  vertical-align: top;
}

.vac {
  vertical-align: center;
}

.vab {
  vertical-align: bottom;
}

.vabl {
  vertical-align: baseline;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.taj {
  text-align: justify;
}

.tal {
  text-align: left;
}

.poa {
  position: absolute;
}

.por {
  position: relative;
}

// .place--tl {
//   top: 0;
//   left: 0;
// }
//
// .place--center {
//   top: 40%;
//   left: 40%;
// }

// should create mixins for m-x. mh-x, h-x and w-x and also z-x

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 10;
}

.z-2 {
    z-index: 20;
}

.z-max {
    z-index: 9999;
}

//  angled edges
// .rot-1 {
//     transform: rotate(0.3deg);
// }
//
// .revrot-1 {
//     transform: rotate(-0.3deg);
// }
//
// .clip-1 {
//     clip-path: polygon(0 1%, 100% 6%, 100% 97%, 0 86%);
// }
//
// .clip-2 {
//     clip-path: polygon(0 1%, 100% 15%, 100% 97%, 0 83%);
// }

// .columnize {
//     // columns: 240px 2;
//     columns: 320px;
//     @include media('>desktop') {
//         columns: 3;
//     }
// }

.list-reset {
  list-style-type: none;
}

.list-checked {
  list-style-image: url("/checked.png");
  span {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;
    line-height: 2;
  }
}

.icon-xsmall {
  width: 32px;
  height: 32px;
}

.icon-small {
  width: 64px;
  height: 64px;
}

.mono {
  font-family: "Lucida Console", monospace;
  font-weight: 400;
}

.times {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}

.para {
  max-width: 640px;
}

.indented {
  text-indent: 50px;
}

.no-indent {
  text-indent: 0 !important;
}

.bg-attached {
  background-attachment: fixed !important;
}

.bg-cover {
  background-size: cover !important;
}

.hero-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero-padding {
  padding-top: 50px ;
  padding-bottom: 50px ;
}

.grey-bordered {
  border: 1px solid grey;
}
